.slider {
    overflow: hidden;
    margin-right: 50px;
    margin-left: 50px;
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, white 0%, rgb(236, 236, 234) 5%, rgb(236, 236, 234) 95%, white 100%);

    .slider_container {
      display: flex;
      height: 100%;
      align-items: center;
      width: 100%;
      margin-left: 10px;

      .slider_item {
        display: block;
        flex: 0 0 15%;
        font-weight: 1000;

        .slider_dia {
          display: flex;
          width: 100%;
          align-items: center;
          font-size: 36px;
          justify-content: center;
          background: none;
          border: none;
          color: gray;
        }
        .slider_dia_habilitado {
          color: blue;
        }

        .slider_semana {
          font-size: 16px;
          color: rgb(165, 165, 0);
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }


